###############
###INTEGRALS###
###############

priority 300
snippet dint "integral" wA
\int ${1:${VISUAL}} \, \mathrm{d} ${2:x} $0
endsnippet

priority 300
snippet cint "integral" wA
\oint\limits_{${1:\Gamma}} ${2:${VISUAL}} \, \mathrm{d} ${2:\gamma} $0
endsnippet

priority 300
snippet ddint "integral" wA
\int_{${1:-\infty}}^{${2:\infty}} ${3:${VISUAL}} \, \mathrm{d} ${4:x}  $0
endsnippet
